*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif;
    background-color:gray;
    color: #fff;
    overflow-x: hidden;
}
nav{
    background-color: rgb(6, 15, 10);
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    z-index: 4000;
   
 .log{
     color:coral;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

     }
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        width: 50%;
        list-style: none;

        a{
            text-decoration: none;
            color:coral;
            @extend .log;
        }
    }

.bars div{
    background-color: white;
    width:20px;
    border-radius: 4px ;
    height: 2px;
    margin: 2px;
    cursor: pointer;
}
}

// header{
//     background: black;
//     width: 100vw;
//     height: 10vh;
//     position: fixed;
//     top: 0;
//     z-index: 100;
//      nav{
//          float: right;
//          padding: 35px 20px 0;
//          margin-right: 200px;
//          ul{
//              list-style: none;

//              li{
//                  display: inline-block;
//                  float: none;
//                  padding: 20px;
//              }
//          }
//      }
//      .current{
//         color: #f78109;
//         text-decoration: underline;
//      }
// }
.slider{
    position:absolute;
    height: 90vh;
    width: 100vw;
    display: flex;
    top: 10vh;
    
    .sliding-img{
        height: 90vh;
        width: 100vw;
        position: relative;
        opacity: 0;
        transition: opacity 1s ease-in-out;
     }
}

